.body{
    background-color: #F7F4EA;
}
.beruang{
margin-right: 40%;
font-family:'Gill Sans', 'Gill Sans MT', Inter, 'Trebuchet MS', sans-serif
}
.gambartengah{
    height: 100%;
    width: 100%;
}
.homedankategori{
    padding-left: 20%;
    position:absolute;
}
.top{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.boneka1{
    width: 70%;
    margin-right: 50%;
    position: relative;
}
.gambarantengah {
    margin-top: 2%;
    position: relative;
}