.body{
    background-color: #F7F4EA;
}
.beruang{
padding-left: 10%;
padding-bottom: 2%;
font-family:'Gill Sans', 'Gill Sans MT', Inter, 'Trebuchet MS', sans-serif;

}
.gambartengah{
    height: 100%;
    width: 100%;
}
.homedankategori{
    padding-left: 20%;
    position:absolute;
}
.top{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.boneka1{
    width: 70%;
    margin-right: 50%;
    margin-left: 5%;
    position: relative;
      border-radius: 5% 5% 5% 5%;
}
.ketboneka{
    margin-right: 20%;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ketharga{
    margin-right: 15%;
    position: relative;
    font-family: Georgia 'Arial Narrow', Arial, sans-serif;
    
}
.gambarantengah {
    margin-top: 2%;
    position: relative;
}
/* footer */
.footer {
  background-color: #E6CFA9;
  display: flex;
  position: relative;
  border-radius: 100px 100px 0px 0px;
  padding-top: 3%;
  padding-left: 13%;
  margin-top: 3%;
 
}
.hubungi{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding-right: 40%;
    
}