.footer {
  background-color: #BCA88D;
  display: flex;
  position: relative;
  border-radius: 100px 100px 0px 0px;
  padding-top: 4%;
  padding-left: 8%;
  margin-top: 3%;
 
}
.hubungi{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding-right: 40%;
    
}